In [24]:
# Import the Libraries

import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import joblib

In [25]:
# Import Data

data = pd.read_csv('Datasets/software.csv')
data

       uniq_Opnd  total_Op  total_Opnd  branchCount     target
0            5.1       3.5         1.4          0.2    pirated
1            4.9       3.0         1.4          0.2    pirated
2            4.7       3.2         1.3          0.2    pirated
3            4.6       3.1         1.5          0.2    pirated
4            5.0       3.6         1.4          0.2    pirated
...          ...       ...         ...          ...        ...
10879        1.1       3.7         3.6         -0.7  unpirated
10880        1.0       3.7         3.6         -0.7  unpirated
10881        1.0       3.7         3.6         -0.7  unpirated
10882        0.9       3.7         3.6         -0.8  unpirated
10883        0.8       3.8         3.5         -0.8  unpirated

[10884 rows x 5 columns]

## Basic Data Analysis

In [26]:
data.head(20)

    uniq_Opnd  total_Op  total_Opnd  branchCount   target
0         5.1       3.5         1.4          0.2  pirated
1         4.9       3.0         1.4          0.2  pirated
2         4.7       3.2         1.3          0.2  pirated
3         4.6       3.1         1.5          0.2  pirated
4         5.0       3.6         1.4          0.2  pirated
5         5.4       3.9         1.7          0.4  pirated
6         4.6       3.4         1.4          0.3  pirated
7         5.0       3.4         1.5          0.2  pirated
8         4.4       2.9         1.4          0.2  pirated
9         4.9       3.1         1.5          0.1  pirated
10        5.4       3.7         1.5          0.2  pirated
11        4.8       3.4         1.6          0.2  pirated
12        4.8       3.0         1.4          0.1  pirated
13        4.3       3.0         1.1          0.1  pirated
14        5.8       4.0         1.2          0.2  pirated
15        5.7       4.4         1.5          0.4  pirated
16        5.4       3.9         1.3          0.4  pirated
17        5.1       3.5         1.4          0.3  pirated
18        5.7       3.8         1.7          0.3  pirated
19        5.1       3.8         1.5          0.3  pirated

In [4]:
data.shape

(10884, 5)

### Preprocess Data

In [5]:
data['target'].replace(['pirated', 'unpirated', 'bugs'], [3, 2, 1], inplace=True)

In [6]:
data.head()

   uniq_Opnd  total_Op  total_Opnd  branchCount  target
0        5.1       3.5         1.4          0.2       3
1        4.9       3.0         1.4          0.2       3
2        4.7       3.2         1.3          0.2       3
3        4.6       3.1         1.5          0.2       3
4        5.0       3.6         1.4          0.2       3

### Import the Machine learning Models

In [7]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [8]:
X = data.drop(columns='target')
X.head()

   uniq_Opnd  total_Op  total_Opnd  branchCount
0        5.1       3.5         1.4          0.2
1        4.9       3.0         1.4          0.2
2        4.7       3.2         1.3          0.2
3        4.6       3.1         1.5          0.2
4        5.0       3.6         1.4          0.2

In [9]:
y = data.drop(columns=['uniq_Opnd', 'total_Op', 'total_Opnd', 'branchCount'])
y.head()

   target
0       3
1       3
2       3
3       3
4       3

In [10]:
X_train, X_test, y_train, y_test =train_test_split(X, y, test_size=0.2)

### Build Machine Learning Model

In [11]:
clf =DecisionTreeClassifier()

In [12]:
clf.fit(X_train, y_train)

DecisionTreeClassifier()

### Test ML Model

In [13]:
test = clf.predict(X_test)
test

array([2, 1, 1, ..., 3, 1, 3], dtype=int64)

In [14]:
# y_test

### Check for Efficacy

In [15]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [16]:
accuracy =accuracy_score(y_test, test)*100
accuracy

100.0

In [17]:
new_pirated = clf.predict([[3, 3, 3, 3]])
new_pirated

c:\Users\Administrator\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [18]:
new_unpirated = clf.predict([[2, 2, 2, 2]])
new_pirated

c:\Users\Administrator\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [19]:
new_bugs = clf.predict([[1, 1, 1, 1]])
new_bugs

c:\Users\Administrator\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([3], dtype=int64)

### Save the Models

In [20]:
import joblib

In [21]:
joblib.dump(clf, 'software_piracy_tracker.joblib')

['software_piracy_tracker.joblib']

In [22]:
joblib.load('software_piracy_tracker.joblib')

DecisionTreeClassifier()